.btn {
  display: block;
  background-color: $primary;
  border: 0;
  border-radius: .8em;
  padding: .5em 1em;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: darken($primary, 10);
  }

  &.btn-inverse {
    background-color: white;
    color: $primary;
  }
}