@font-face {
  font-family: 'pt_sansregular';
  src: url('../fonts/PTSans-Regular.woff') format('woff'),
  url('../fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sansbold';
  src: url('../fonts/PTSans-Bold.woff') format('woff'),
  url('../fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}