@import "variables";
@import "fonts";
@import "button";
@import "tooltip";

body {
  margin: 0;
  font-family:  "pt_sansregular", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: darken($primary, 20);
}

h1, h2, h3 {
  color: $primary;
}

h1 {
  font-size: clamp(.7rem, unquote('-0.875rem + 8.333vh'), 2rem);
  margin: 0;
  align-self: start;
}

h2 {
  font-size: clamp(.65rem, unquote('-0.875rem + 8.333vh'), 1.2rem);
}
p {
  color: $primary;
}

.titreImage {
  font-weight: bold;
  margin-top: 1.5rem;
  color: $tertiary;
}
.modal-container.info .modal-default-button {
    background-color: $tertiary;
}
