@import './variables';

.tuto-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 200ms cubic-bezier(0.4, 0, 1, 1);
  z-index: 50;

  &.hidden {
    display: none;
  }


  .navigation-container {
    position: fixed;
    left: 0;
    bottom: 4rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .navigation-element {
      overflow: hidden;
      display: inline-flex;
      align-items: center;
      border-radius: .5rem;
      background-color: $primary;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

      div {
        &:nth-child(1) {
          display: inline-block;
          padding: .75rem;
          text-align: center;
        }

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          list-style: none;

          li {
            width: 1rem;
            height: 1rem;
            margin: 0 .5rem;
            cursor: pointer;
            border: 2px solid white;
            border-radius: 9999px;

            &.current {
              background: white;
            }

            &.past {
              background: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
    }
  }
}

.pr-tutorial-buttons {
  display: flex;
  background-color: darken($primary, 20);
  position: relative;
  padding: .75rem 1rem;
  height: 100%;

  &::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    right: auto;
    top: 50%;
    bottom: auto;
    border-style: solid;
    border-width: 6px;
    border-color: transparent;
    transform: rotate(360deg);
    margin-top: -6px;
    border-right-width: 0;
    border-left-color: $primary;
  }

  button {
    border: 0;
    padding: .5rem 1rem;
    font-weight: bold;
    border-radius: .25rem;
    background-color: transparent;
    background-image: none;
    cursor: pointer;

    &:nth-child(1) {
      margin-right: .75rem;
      background-color: white;
      color: #151616;
    }

    &:nth-child(2) {
      color: white;
      border: 2px solid white;
    }
  }
}

.pr-tutorial-explain {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  border-radius: .25rem;
  background-color: white;
  max-width: 450px;
  transition: all cubic-bezier(0, 0, 0.2, 1) 200ms;
  color: #232424;
  text-align: left;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  &::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    transform: rotate(360deg);
  }

  &[data-alignment="t"]::before {
    left: 50%;
    right: auto;
    top: 100%;
    bottom: auto;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: rgba(255, 255, 255, 0.95);
  }

  &[data-alignment="r"]::before {
    left: auto;
    right: 100%;
    top: 50%;
    bottom: auto;
    margin-top: -10px;
    border-left-width: 0;
    border-right-color: rgba(255, 255, 255, 0.95);
  }

  &[data-alignment="b"]::before {
    left: 50%;
    right: auto;
    top: auto;
    bottom: 100%;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: rgba(255, 255, 255, 0.95);
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-weight: 600;
  }
}